/* -----------------------------------------------
--- HTML ELEMENTS --------------------------------
----------------------------------------------- */

* {
	margin: 						0;
	padding: 						0;
}

body {
	font:							13px Arial, Helvetica, sans;
	color:							#404040;
	background: 					#CCC;
	line-height: 					135%;
	min-width: 						768px;
}

a {
	text-decoration: 				underline;
	cursor:							pointer;
}

a:link, a:visited {
	text-decoration: 				underline;
	color:							#404040;
}

a:hover, a:active {
	text-decoration: 				underline;
	color:							#E60000;
}

table {
	border-collapse: 				collapse;
}

h1 {
	font-size: 						24px;
	font-weight: 					bold;
	margin:							0 0 20px 0;
}

h2 {
	font-size: 						18px;
	font-weight: 					bold;
	margin:							0 0 10px 0;
}

p {
	margin: 						0 0 10px 0;
}

ul {
	list-style: 					disc;
	padding:						0;
	margin: 						0 0 0 20px;
}

li {
	padding:						0 0 0 0px;
}

pre {
	font: 							11px "Consolas", monospace;
	margin:							10px 0;
	padding: 						10px;
	background-color: 				#FFF7CC;
	border: 						1px solid #CCC;
}


/* -----------------------------------------------
--- DASHBOARD LAYOUT -----------------------------
----------------------------------------------- */

div#header-wide {
	background: 					#262626 url('../img/dashboard/header_bg.png') repeat-x top left;
	color: 							#FFF;
}

div#header {
	margin: 						0 auto;
	min-width: 						768px;
	max-width:						1200px;
}

div#header a {
	color:							#FFFFFF;
	text-decoration: 				none;
}

div#title {
	float: 							left;
}

div#title-inner {
	padding:						11px 0 11px 45px;
	font-size: 						18px;
	font-weight: 					bold;
	background: 					transparent url('../img/dashboard/title_bg.png') no-repeat center left;
}

div#user {
	float:							right;
}

div#user-inner {
	padding:						10px 20px 0 0;
	font-size: 						12px;
}

div#container-wide {
	background-color: 				#FFF;
}

div#container {
	margin: 						0 auto;
	min-width: 						768px;
	max-width:						1200px;
}

div#menu {
	float:							left;
	width:							200px;
}

div#content {
	margin-left: 					200px;
	min-height: 					400px;
	border-left: 					1px solid #CCC;
}

div#content-inner {
	padding:						25px 20px 40px 20px;
}

div#footer-wide {
	padding: 						5px 0 30px 0;
	text-align: 					center;
	font-size: 						11px;
	background: 					transparent url('../img/dashboard/footer_shadow.png') repeat-x top left;
}

.clearfix:after {
	content:						" ";
	display: 						block;
	clear: 							both;
	visibility: 					hidden;
	line-height: 					0;
	height: 						0;
	font-size: 						0;
}


/* -----------------------------------------------
--- NAVIGATION STYING ----------------------------
----------------------------------------------- */

#navigation {
	margin: 						20px 20px 0 10px;
}

#navigation ul {
	list-style: 					none;
	margin: 						0;
	padding: 						0;
}

#navigation li {
	margin: 						0;
	padding:						0;
	border-bottom:					1px dotted #B2B2B2;
	background: 					transparent url('../img/dashboard/menu_icons.png') no-repeat top left;
	background-size: 				32px 224px;
}


#navigation li:last-child {
	border-bottom:					none;
}

#navigation li:hover {
	background-color: 				#F7F7F7;
}

#navigation a {
	display: 						block;
	padding:						0 0 0 32px;
	height:							32px;
	line-height:					32px;
	text-decoration: 				none;
	text-align: 					left;
}

.active a {
	color:							#E60000;
}

#navigation .menu_home {
	background-position: 			0 0px;
}

#navigation .menu_compose {
	background-position: 			0 -32px;
}

#navigation .menu_category {
	background-position: 			0 -64px;
}

#navigation .menu_product {
	background-position: 			0 -96px;
}

#navigation .menu_users {
	background-position: 			0 -128px;
}

#navigation .menu_themes {
	background-position: 			0 -160px;
}

#navigation .menu_settings {
	background-position: 			0 -192px;
}


/* -----------------------------------------------
--- ICONS ----------------------------------------
----------------------------------------------- */

.icon {
	height:							16px;
	width:							16px;
	background-image: 				url('../img/dashboard/icons_16.png');
	display: 						inline-block;
	margin: 						0 10px 0 0;
}

.icon-delete {
	background-position: 			0px 0px;
}

.icon-edit {
	background-position: 			-16px 0px;
}


/* -----------------------------------------------
--- TABLE LAYOUTS --------------------------------
----------------------------------------------- */

.table-striped {
	width: 							100%;
	margin:							0 0 10px 0;
	border: 						1px solid #E5E5E5;
	border-bottom: 					none;
}

.table-striped tbody tr:nth-child(even) {
	background-color: 				#F2F2F2;
}

.table-striped tbody tr:nth-child(odd) {
	background-color: 				#FFF;
}

.table-striped th {
	text-align: 					left;
	font-weight: 					bold;
	padding: 						3px 6px;
	background-color: 				#E5E5E5;
}

.table-striped td {
	padding: 						4px 6px;
	border-bottom: 					1px solid #E5E5E5;
	font-size: 						13px;
}


/* -----------------------------------------------
--- FONT STYLING ---------------------------------
----------------------------------------------- */

.bold {
	font-weight: 					bold;
}

.small {
	font-size: 						11px;
}

.monospace {
	font: 							11px "Consolas", monospace;
}


/* -----------------------------------------------
--- FORM ELEMENTS --------------------------------
----------------------------------------------- */

.btn, a.btn {
	display:						inline-block;
	margin:							0 5px 0 0;
	padding: 						0 20px;
	line-height: 					24px;
	background-color:				#D8D8D8;
	border:							1px solid #B2B2B2;
	text-decoration: 				none;
	cursor: 						pointer;
	color:							#000;
}

.btn:hover {
	background-color:				#C6C6C6;
}

.btn-confirm, a.btn-confirm {
	background-color: 				#08C;
	color:							#EFEFEF;
	border:							1px solid #06C;
}

.btn-confirm:hover {
	background-color: 				#06C;
}

.btn-danger, a.btn-danger {
	background-color: 				#C55;
	color:							#EFEFEF;
	border:							1px solid #C00;
}

.btn-danger:hover {
	background-color: 				#C33;
}

.label {
	display: 						inline-block;
	width:							175px;
}

.input {
	padding:						5px;
	margin: 						0;
	border-radius: 					3px;
	border:							1px solid #B2B2B2;
	background-color: 				#F2F2F2;
	color: 							#404040;
}

.select {
	padding:						4px 5px 4px 2px;
}

.checkbox, .radio {
	vertical-align: 				-1px;
}

.wrap_label {
	margin: 						0 10px 0 0;
	cursor: 						pointer;
}


.textarea {
	width:							50%;
	height: 						100px;
	font:							13px Arial, Helvetica, sans;
}

.select_image {
	display: 						inline-block;
	border: 						1px solid #CCC;
	margin:							0 5px 5px 0;
	padding: 						5px;
	cursor: 						pointer;
}

.select_image > img {
	margin: 						0 0 5px 0;
}

.select_image > p {
	text-align: 					center;
	margin: 						0;
}

.select_image.active {
	background-color: 				#F2F2F2;
	border: 						1px solid #B3B3B3;
}


/* -----------------------------------------------
--- MESSAGES -------------------------------------
----------------------------------------------- */

.msg {
	padding: 						5px 10px;
	margin: 						0 0 10px 0;
	border-radius: 					2px;
}

.msg_title {
	font-weight: 					bold;
}

.msg_success {
	background-color: 				#EAF8D1;
	border:							1px solid #D6E2AD;
}

.msg_notification {
	background-color: 				#FFF8D8;
	border:							1px solid #E5D8A0;
}
.msg_error {
	background-color: 				#F7D2D2;
	border:							1px solid #E0ACAC;
}


/* -----------------------------------------------
--- CUSTOM ELEMENT CLASSES -----------------------
----------------------------------------------- */

.float-right {
	float:							right;
}

.float-left {
	float:							left;
}

div.image_container {
	width: 							50px;
	height: 						29px;
	/*background: 					#E6E6E6 url('../img/dashboard/image_placeholder.png') no-repeat left top;*/
}

div.icon_container {
	width: 							27px;
	height: 						27px;
}


/* -----------------------------------------------
--- SETTINGS PAGE --------------------------------
----------------------------------------------- */

.settings-container {
	margin:							0 0 10px 0;
}

.settings-title {
	font-weight: 					bold;
	background-color: 				#E5E5E5;
	padding: 						5px;
}

.settings-content {
	padding: 						10px 5px;
	border-right:					1px solid #E5E5E5;
	border-bottom:					1px solid #E5E5E5;
	border-left:					1px solid #E5E5E5;
}


/* -----------------------------------------------
--- COMPOSE MENU PAGE ----------------------------
----------------------------------------------- */

.pane {
	float:							left;
	width:							49%;
	background-color: 				#F2F2F2;
	border-radius: 					4px;
	margin-right:					1%;
	border: 						1px solid #CCC;
}

.pane-inner {
	padding:						10px;
}

.category-container {
	display: 						none;
}

.item {
	display: 						block;
	width:							100%;
	margin:							0;	
	padding:						5px 0 5px 20px;
	cursor: 						pointer;
}

.item-category{
	background:						transparent url('../img/dashboard/icon_category.png') no-repeat top left;
	background-position:			0px +5px;
}

.item-category-open {
	background:						transparent url('../img/dashboard/icon_category_open.png') no-repeat top left;
	background-position:			0px +5px;
}

.item-product {
	background:						transparent url('../img/dashboard/icon_product.png') no-repeat top left;
	background-position:			0px +5px;
}

.category_remove{
	text-align:						center;
	line-height:					50px;
}

.placeholder_sortable{
	border: 1px solid #ffaa3b;
	background: rgba(255,170,58,0.62);
	list-style: none;	
}

/*
.item-category{
	background: url('../img/dashboard/compose_closed_cat.png') top left no-repeat;
	padding: 5px 0px 5px 20px;
}
*/


#remove_product_link{
	list-style: none;
}
.category_remove{
	height: 50px;
	background:  url('../img/dashboard/bin_icon.png') no-repeat left center;
	border: 1px dashed #4d1313;	
	color: #4d1313;
	
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
	.placeholder_sortable{
		height: 17px;
	}
	.category_remove .placeholder_sortable{
		height: 48px;
		margin-top: -50px;
	}

.pane ul {
	margin: 0;
}
.empty_category_placeholder{
	background: #F2F2F2;
	display: block;
	margin: 6px 4px 4px 0px;
	padding: 0;
	list-style: none;
	width: 100%;
	color: #777;
}
.category_pane ul ul li:last-child{
	margin-bottom:0;
	padding-bottom:0;
}
/*
.item span {
	display: 						block;
	
}

.item-category {
	width: 							100%;
}

.item-category-open {
	background-position:			0px -27px;
}

.category-hover {
	background-color: 				#C7DEEA;
}

.item-empty {
	padding-left:					5px;
}

.trash {
	text-align:						center;
	font-size:						40px;
	line-height:					50px;
	color:							#EEE;
	height:							50px;
	background-color: 				red;
	border-radius: 					4px;
	border: 						1px solid #CCC;
	padding:						10px;
}
.dragged{
	background-color:				#FAFAFA;
}
*/
