div#login_container {
	width:						300px;
	margin:						10px auto;
	background-color: 			#FFF;
	border-radius: 				5px;
	border:						1px solid #B3B3B3;
}

div#login_content {
	padding: 					20px;
}

.green {
	color:						#008000;
}